
.wcl-tooltip {
    position: absolute;
    width: auto;
    height: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow:rgba(113, 135, 164, 0.05) 0 0 10px 1px;
    -webkit-box-shadow:rgba(113, 135, 164, 0.05) 0 0 10px 1px;
    -moz-box-shadow:rgba(113, 135, 164, 0.05) 0 0 10px 1px;
}

.wcl-tooltip-top:before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid #ccc;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.wcl-tooltip-top:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.wcl-tooltip-bottom:before {
    content: "";
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ccc;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.wcl-tooltip-bottom:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.wcl-tooltip-right:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -11px;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid #ccc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.wcl-tooltip-right:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.wcl-tooltip-left:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -11px;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid #ccc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.wcl-tooltip-left:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.wcl-tooltip-header {
    text-align: left;
    padding: 5px 15px;
    background-color: #EEEEEE;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    -webkit-box-shadow: rgba(255, 255, 255, .5) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, .5) 0 1px 0;
    box-shadow: rgba(255, 255, 255, .5) 0 1px 0;
}
.wcl-tooltip-title {
    font-size: medium;
    margin: 0;
    display: inline;
}
.wcl-tooltip-close {
    float: right;
    margin-top: 2px;
}
