.wcl-tooltip {
  position: fixed;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(113, 135, 164, 0.05) 0 0 10px 1px;
  -moz-box-shadow: rgba(113, 135, 164, 0.05) 0 0 10px 1px;
  box-shadow: rgba(113, 135, 164, 0.05) 0 0 10px 1px;
  z-index: 99; }

.wcl-tooltip-header {
  text-align: left;
  padding: 5px 15px;
  background-color: #EEEEEE;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0; }

.wcl-tooltip-title {
  font-size: medium;
  margin: 0;
  display: inline; }

.wcl-tooltip-close {
  float: right;
  margin-top: 2px; }

.wcl-tooltip:before, .wcl-tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: -10px; }

.wcl-tooltip-top:before, .wcl-tooltip-top-left:before, .wcl-tooltip-top-right:before {
  bottom: -1px; }

.wcl-tooltip-bottom:before, .wcl-tooltip-bottom-left:before, .wcl-tooltip-bottom-right:before {
  top: -1px; }

.wcl-tooltip-top:before, .wcl-tooltip-bottom:before {
  left: 50%; }

.wcl-tooltip-top-left:before, .wcl-tooltip-bottom-left:before {
  left: 15px; }

.wcl-tooltip-top-right:before, .wcl-tooltip-bottom-right:before {
  right: 15px; }

.wcl-tooltip-left:before, .wcl-tooltip-left-top:before, .wcl-tooltip-left-bottom:before {
  right: -1px; }

.wcl-tooltip-right:before, .wcl-tooltip-right-top:before, .wcl-tooltip-right-bottom:before {
  left: -1px; }

.wcl-tooltip-left:before, .wcl-tooltip-right:before {
  top: 50%; }

.wcl-tooltip-left-top:before, .wcl-tooltip-right-top:before {
  bottom: 15px; }

.wcl-tooltip-left-bottom:before, .wcl-tooltip-right-bottom:before {
  top: 15px; }

.wcl-tooltip-top:after, .wcl-tooltip-top-left:after, .wcl-tooltip-top-right:after {
  bottom: 0; }

.wcl-tooltip-bottom:after, .wcl-tooltip-bottom-left:after, .wcl-tooltip-bottom-right:after {
  top: 0; }

.wcl-tooltip-top:after, .wcl-tooltip-bottom:after {
  left: 50%; }

.wcl-tooltip-top-left:after, .wcl-tooltip-bottom-left:after {
  left: 15px; }

.wcl-tooltip-top-right:after, .wcl-tooltip-bottom-right:after {
  right: 15px; }

.wcl-tooltip-left:after, .wcl-tooltip-left-top:after, .wcl-tooltip-left-bottom:after {
  right: 0; }

.wcl-tooltip-right:after, .wcl-tooltip-right-top:after, .wcl-tooltip-right-bottom:after {
  left: 0; }

.wcl-tooltip-left:after, .wcl-tooltip-right:after {
  top: 50%; }

.wcl-tooltip-left-top:after, .wcl-tooltip-right-top:after {
  bottom: 15px; }

.wcl-tooltip-left-bottom:after, .wcl-tooltip-right-bottom:after {
  top: 15px; }

.wcl-tooltip-top:before, .wcl-tooltip-top-left:before, .wcl-tooltip-top-right:before {
  border-top: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; }

.wcl-tooltip-top:after, .wcl-tooltip-top-left:after, .wcl-tooltip-top-right:after {
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; }

.wcl-tooltip-right:before, .wcl-tooltip-right-top:before, .wcl-tooltip-right-bottom:before {
  border-right: 10px solid #ccc;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; }

.wcl-tooltip-right:after, .wcl-tooltip-right-top:after, .wcl-tooltip-right-bottom:after {
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; }

.wcl-tooltip-bottom:before, .wcl-tooltip-bottom-left:before, .wcl-tooltip-bottom-right:before {
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; }

.wcl-tooltip-bottom:after, .wcl-tooltip-bottom-left:after, .wcl-tooltip-bottom-right:after {
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; }

.wcl-tooltip-left:before, .wcl-tooltip-left-top:before, .wcl-tooltip-left-bottom:before {
  border-left: 10px solid #ccc;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; }

.wcl-tooltip-left:after, .wcl-tooltip-left-top:after, .wcl-tooltip-left-bottom:after {
  border-left: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; }

.wcl-tooltip-theme-dark {
  background-color: #212121;
  color: #e9e9e9;
  font-size: small;
  padding: 5px 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .wcl-tooltip-theme-dark:before, .wcl-tooltip-theme-dark:after {
    border-width: 7px;
    margin: -7px; }
  .wcl-tooltip-theme-dark.wcl-tooltip-top:after, .wcl-tooltip-theme-dark.wcl-tooltip-top-left:after, .wcl-tooltip-theme-dark.wcl-tooltip-top-right:after {
    border-top-color: #212121; }
  .wcl-tooltip-theme-dark.wcl-tooltip-right:after, .wcl-tooltip-theme-dark.wcl-tooltip-right-top:after, .wcl-tooltip-theme-dark.wcl-tooltip-right-bottom:after {
    border-right-color: #212121; }
  .wcl-tooltip-theme-dark.wcl-tooltip-bottom:after, .wcl-tooltip-theme-dark.wcl-tooltip-bottom-left:after, .wcl-tooltip-theme-dark.wcl-tooltip-bottom-right:after {
    border-bottom-color: #212121; }
  .wcl-tooltip-theme-dark.wcl-tooltip-left:after, .wcl-tooltip-theme-dark.wcl-tooltip-left-top:after, .wcl-tooltip-theme-dark.wcl-tooltip-left-bottom:after {
    border-left-color: #212121; }

.wcl-tooltip.wcl-tooltip-noarrow:before, .wcl-tooltip.wcl-tooltip-noarrow:after {
  content: none; }
