<h2>Demo</h2>

<div id="demo-container">
  <h3>Theme : standard</h3>
  <a href="#" id="tooltip-menu" data-wcltip-html-src="tooltip-menu-src">Menu</a>
  <div id="tooltip-menu-src" style="display: none;">
    <div id="tooltip-menu-content">
      <ul>
        <li><a href="#">Link1</a></li>
        <li><a href="#">Link2</a></li>
        <li><a href="#">Link3</a></li>
        <li><a href="#">Link4</a></li>
      </ul>
    </div>
  </div>

  <h3>Theme : dark</h3>
  <div id="tooltip-square" data-wcltip-text="I'm Tooltip!">
    Hover me!
  </div>
</div>
